.card {
    background-color: #caf0f8;
    color: dimgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 80px;
    border: 8px inset grey;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 1500px;
    height: auto;
    border-radius: 5%;
}
#height {
    height: 2000px;
}
body {
    background-color: bisque;
}
p {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
ul, ol {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
a {
    display: block;
}
.heading.one {
    text-align: center;
    color: darkslateblue;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading.two {
    color: darkslateblue;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
