body {
    background-color: salmon;
    color: dimgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
ul, ol {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
a {
    color: floralwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.heading.one {
    text-align: center;
    color: darkslateblue;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading.two {
    color: darkslateblue;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
